<div class="wrapper">
  <app-header></app-header>
  <app-sidebar></app-sidebar>

  <main class="page-content">
    <div class="page-breadcrumb d-none d-sm-flex align-items-center mb-3">
      <div class="breadcrumb-title pe-3">Administration</div>
      <div class="ps-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0 p-0">
            <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">Dashboard Admin</li>
          </ol>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-lg-12 col-xl-12 d-flex">
        <div class="card radius-10 w-100">
          <div class="card-body">
            <h5 class="card-title">Panel d'Administration</h5>
            <p>Interface d'administration de la bibliothèque</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>