 <!--start sidebar -->
       <aside class="sidebar-wrapper" data-simplebar="true">
          <div class="sidebar-header">
            <div>
              <img src="Aassets/images/logo-icon.png" class="logo-icon" alt="logo icon">
            </div>
            <div>
              <h4 class="logo-text">Biblio SN</h4>
            </div>
            <div class="toggle-icon ms-auto"><i class="bi bi-chevron-double-left"></i>
            </div>
          </div>
          <!--navigation-->
          <ul class="metismenu" id="menu">
            <li>
 
              <ul>
                <li> <a routerLink="/home"><i class="bi bi-arrow-right-short"></i>Dashboard</a>
                </li>
                <li> <a routerLink="/home"><i class="bi bi-arrow-right-short"></i>Mes Livres</a>
                </li>
                <li> <a routerLink="/admin"><i class="bi bi-arrow-right-short"></i>Administration</a>
                </li>

              </ul>
            </li>
          
          </ul>
          <!--end navigation-->
       </aside>
       <!--end sidebar -->